/* Fondo completo del layout */
.container-background {
  background-color: #e5e8d8;
  min-height: 100vh;
  padding-top: 10px; /* Espacio entre el navbar */
  padding-bottom: 10px; /* Espacio entre el footer */
  display: flex;
  justify-content: center;
  border-top: 2px solid #ffffff; /* Línea blanca en la parte superior */
  border-bottom: 3px solid #ffffff; /* Línea blanca en la parte inferior */
}

/* Contenedor principal */
.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #e5e8d8;
  max-width: 700px;
  width: 100%;
  font-family: Arial, sans-serif;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

/* Botón de regreso */
.back-button {
  align-self: flex-start;
  display: flex;
  align-items: center;
  font-size: 16px;
  color: #757575;
  text-decoration: none;
  margin-bottom: 20px;
}

.back-button i {
  margin-right: 10px;
}

/* Contenido del perfil */
.profile-content {
  display: flex;
  align-items: center;
  text-align: left;
  background-color: #e5e8d8;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  width: 100%;
}

/* Imagen de perfil */
.profile-content img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 20px;
  border: 4px solid #f8f9f4;
}

/* Detalles del perfil */
.profile-details h2 {
  font-size: 24px;
  font-weight: bold;
  color: #000000;
  margin: 0;
}

.role {
  font-size: 15px;
  color: #757575;
  margin: 5px 0 15px;
}

.biography {
  font-size: 19px;
  color: #000000;
  margin-bottom: 20px;
}

/* Botón de editar perfil */
.update-button {
  background-color: #087443;
  color: #ffffff;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  position: absolute;
  right: 20px; /* Alinea el botón a la derecha */
  bottom: 70px; /* Alinea el botón al fondo del contenedor */
}

.history-button {
  background-color: #087443;
  color: #ffffff;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  position: absolute;
  right: 20px; /* Alinea el botón a la derecha */
  bottom: 20px; /* Alinea el botón al fondo del contenedor */
}

.update-button:hover {
  background-color: #065c32;
}

.plans-section {
  margin-top: 20px;
  padding: 10px;
  background-color: #e5e8d8;
  border-radius: 8px;
}
