<div class="container-background">
  <!-- Contenedor del perfil -->
  <div class="profile-container" *ngIf="profile">
    <a href="/reader/search" class="back-button" (click)="clearSelectedUser()">
      <i class="fas fa-arrow-left"></i> {{ profile.name }}
    </a>

    <div class="profile-content">
      <img src="assets/images/usuarios/user1.png" alt="Foto de perfil" />

      <div class="profile-details">
        <h2>{{ profile.name }}</h2>
        <p class="role">Rol: {{ profile.role }}</p>
        <p class="biography">{{ profile.biography }}</p>
        <br />
        <br />
        <button *ngIf="isOwnProfile" (click)="navigateToUpdateProfile()" class="update-button">
          Editar Perfil
        </button>
      </div>
    </div>
    <div class="plans-section">
      <app-show-plans *ngIf="isCreatorProfile && !isOwnProfile"></app-show-plans>
    </div>
  </div>
</div>
