<div class="mat-elevation-z8">
  <mat-table [dataSource]="history" class="mat-table">

    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
      <mat-cell *matCellDef="let purchase"> {{ purchase.id }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="total">
      <mat-header-cell *matHeaderCellDef> Total </mat-header-cell>
      <mat-cell *matCellDef="let purchase"> {{ purchase.total | currency }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="paymentStatus">
      <mat-header-cell *matHeaderCellDef> Payment Status </mat-header-cell>
      <mat-cell *matCellDef="let purchase"> {{ purchase.paymentStatus }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="createdAt">
      <mat-header-cell *matHeaderCellDef> Date </mat-header-cell>
      <mat-cell *matCellDef="let purchase"> {{ purchase.createdAt | date }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="subscriptionId">
      <mat-header-cell *matHeaderCellDef> Subscription ID </mat-header-cell>
      <mat-cell *matCellDef="let purchase"> {{ purchase.subscriptionId || 'N/A' }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="donationId">
      <mat-header-cell *matHeaderCellDef> Donation ID </mat-header-cell>
      <mat-cell *matCellDef="let purchase"> {{ purchase.donationId || 'N/A' }} </mat-cell>
    </ng-container>

    <!-- Fila de encabezado -->
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>
