.navbar {
  padding: 1rem;
  background-color: #e5e8d8;
}

.btn-outline-primary {
  color: #087443;
  border-color: #087443;
}

.navbar .nav-link {
  color: #000 !important;
}

.navbar .navbar-brand {
  color: #000 !important;
}

.btn-outline-primary:hover {
  color: #000000;
  background-color: #087443;
  border-color: #087443;
}

.btn-primary {
  background-color: #087443;
  border: none;
}

.btn-primary:hover {
  background-color: #087443;
}

.navbar-toggler {
  border-color: #087443;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='%23087443' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-toggler:hover {
  box-shadow: 0 0 5px #087443;
}

.navbar-toggler:focus, .navbar-toggler:active {
  outline: none;
  box-shadow: 0 0 5px #087443;
}

@media (max-width: 992px) {
  .navbar-nav .nav-item {
    margin-bottom: 10px;
  }
}
