.navbar {
  padding: 1rem;
  background-color: #e5e8d8; /* Espacio interno alrededor de los elementos de la barra de navegación */
}

.btn-outline-primary {
  color: #087443; /* Color del texto del botón de contorno "Regístrate" */
  border-color: #087443; /* Color del borde del botón */
}

.navbar .nav-link {
  color: #000 !important; /* Cambia el color del texto de los enlaces a negro */
}

.navbar .navbar-brand {
  color: #000 !important; /* Cambia el color del texto del logo a negro */
}

.btn-outline-primary:hover {
  color: #ffffff;
  background-color: #087443;
  border-color: #087443;
}

.btn-primary {
  background-color: #087443; /* Fondo del botón "Iniciar Sesión" */
  border: none; /* Sin borde para un diseño limpio */
}

.btn-primary:hover {
  background-color: #087443; /* Fondo del botón cuando el cursor pasa por encima */
}

.navbar-toggler {
  border-color: #087443; /* Color verde para el borde */
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='%23087443' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-toggler:hover {
  box-shadow: 0 0 5px #087443; /* Cambia el color de la sombra a verde */
}

.navbar-toggler:focus,
.navbar-toggler:active {
  outline: none; /* Elimina el borde de enfoque por defecto */
  box-shadow: 0 0 5px #087443; /* Mantiene la sombra verde al hacer clic */
}

/* Espaciado entre botones en modo responsive */
@media (max-width: 992px) {
  /* Ajusta el tamaño según el punto de ruptura de tu diseño */
  .navbar-nav .nav-item {
    margin-bottom: 10px; /* Agrega espacio entre los elementos del menú en responsive */
  }
}
