
<div class="content-wrapper">
  <!-- Barra de búsqueda -->
  <div class="search-container">
    <mat-form-field class="search-bar" appearance="outline">
      <mat-label>Buscar Publicaciones</mat-label>
      <input
        matInput
        placeholder="Busca por título o creador"
        [(ngModel)]="searchQuery"
        (ngModelChange)="onSearch()"
      />
      <button mat-icon-button matSuffix>
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>
  </div>

  <!-- Lista de Publicaciones -->
  <div class="publication-list">
    @for (publication of filteredPublications; track publication) {
      <mat-card class="publication-card">
        <mat-card-header>
          <mat-card-title>{{ publication.title }}</mat-card-title>
          <mat-card-subtitle>{{ publication.creatorname }}</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
          <p>{{ publication.content }}</p>
          <p>URL: {{ publication.video_url }}</p>
        </mat-card-content>

        <img
          mat-card-image
          [src]="publication.filePath | apiImg"
          [alt]="publication.title"
        />
      </mat-card>
    }@empty {
      <p>No se encontraron Publicaciones</p>
    }
  </div>
</div>

