/* Estilos generales */
.content-wrapper {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Estilo de la barra de búsqueda */
.search-bar .search-button {
  background-color: transparent;
  border: none;
}

.search-bar {
  width: 100%;
  max-width: 800px;
}

/* Estilos para la lista de publicaciones */
.publication-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.publication-card {
  width: 100%;
  background-color: #ffffff; /* Color de fondo */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.publication-card:hover {
  transform: translateY(-5px);
}

mat-card-header mat-card-title {
  font-size: 1.2em;
  font-weight: bold;
  color: #333;
}

mat-card-header mat-card-subtitle {
  font-size: 0.9em;
  color: #666;
}

mat-card-content p {
  font-size: 1em;
  line-height: 1.5;
  color: #444;
}

.mat-card-image {
  max-height: 400px;
  max-width: 300%;
  display: block;
  margin: 10px;
  object-fit: cover;
  border-radius: 10px;
}

button.add-to-playlist-btn {
  background: none;
  border: none;
  color: #087443; /* Rojo para el ícono de eliminar */
  cursor: pointer;
  display: flex;
  justify-content: flex-end; /* Alinea el botón a la derecha */
  padding: 8px 12px; /* Espaciado alrededor del botón */
}

button.add-to-playlist-btn:hover {
  color: #45a049; /* Rojo más oscuro al pasar el mouse */
}

/* Estilo del botón del menú */
button.menu-btn {
  background: #e5e8d8;
  border: #e5e8d8;
  color: #087443; /* Gris medio, tono suave para el texto */
}

button.menu-btn:hover {
  color: #23478e; /* Verde suave para el hover */
  background: #e5e8d8; /* Fondo muy suave */
  border-radius: 4px; /* Bordes redondeados para suavizar */
  border: transparent;
}
